In [2]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
'category':['A', 'B', 'A', 'B', 'A', 'B'],
'value':np.random.randint(1, 5, size=6),
'score':np.random.randint(60, 100, size=6)
})
print("\nOriginal Dataframe:\n",df)

Original Dataframe:
       Name category  value  score
0    Alice        A      4     86
1      Bob        B      4     78
2  Charlie        A      1     69
3    Alice        B      4     88
4      Bob        A      1     75
5  Charlie        B      3     75

In [3]:
df1=df.groupby(('Name'),as_index=False)['value'].sum()
print("\nGroup by name and Aggregation with one column:\n",df1)

Group by name and Aggregation with one column:
       Name  value
0    Alice      8
1      Bob      5
2  Charlie      4

In [4]:
df2=df.groupby(('Name'),as_index=False)[['value','score']].sum()
print("\nGroup by name and Aggregation with two column:\n",df2)

Group by name and Aggregation with two column:
       Name  value  score
0    Alice      8    174
1      Bob      5    153
2  Charlie      4    144

In [5]:
df3=df.groupby(('Name'),as_index=False)['value'].agg('sum')
print("\nGroup by name and Aggregation with one column using agg function:\n",df3)

Group by name and Aggregation with one column using agg function:
       Name  value
0    Alice      8
1      Bob      5
2  Charlie      4

In [6]:
df4 = df.groupby('Name').agg({
'value': ['sum', 'mean', 'min', 'max'],
'score': ['sum', 'mean']})
print("\nGroup by name and multiple Aggregation functions :\n", df4)

Group by name and multiple Aggregation functions :
         value              score
          sum mean min max   sum  mean
Name
Alice       8  4.0   4   4   174  87.0
Bob         5  2.5   1   4   153  76.5
Charlie     4  2.0   1   3   144  72.0

In [9]:
df5 = df.groupby(('Name'),as_index=False)['value'].count()
print("\nGroup and count:\n",df5)

Group and count:
       Name  value
0    Alice      2
1      Bob      2
2  Charlie      2

In [10]:
df6 = df.groupby(('Name')).count()
print("\nGroup and count:\n",df6)

Group and count:
          category  value  score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [11]:
df7 = df.groupby(('Name'),as_index=False)['value'].first()
print("\nGroup and display from first:\n",df7)

Group and display from first:
       Name  value
0    Alice      4
1      Bob      4
2  Charlie      1

In [13]:
df8 = df.groupby(('Name')).first()
print("\nGroup and display from first:\n",df8)

Group and display from first:
         category  value  score
Name
Alice          A      4     86
Bob            B      4     78
Charlie        A      1     69

In [17]:
df9 = df.groupby(('Name'),as_index=False)['value'].last()
print("\nGroup and display from last:\n",df9)

Group and display from last:
       Name  value
0    Alice      4
1      Bob      1
2  Charlie      3

In [18]:
df10 = df.groupby(('Name')).last()
print("\nGroup and display from last:\n",df10)

Group and display from last:
         category  value  score
Name
Alice          B      4     88
Bob            A      1     75
Charlie        B      3     75

In [19]:
df11 = df.groupby(('Name'),as_index=False)['value'].size()
print("\nGroup and display the size:\n",df11)

Group and display the size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

In [20]:
df11 = df.groupby(('Name')).size()
print("\nGroup and display from last:\n",df11)

Group and display from last:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64