In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
 datetime(2011, 1, 5),
 datetime(2011, 1, 7),
 datetime(2011, 1, 8),
 datetime(2011, 1, 10),
 datetime(2011, 1, 12)]
#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02   -0.227896
2011-01-05    0.156594
2011-01-07   -0.620299
2011-01-08   -1.808035
2011-01-10    1.519742
2011-01-12    0.762903
dtype: float64

In [2]:
print("\nDate Index alone from the series: \n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [3]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [4]:
longer_ts=pd.Series(np.random.randn(1000),
 index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01    0.201575
2000-01-02   -0.371799
2000-01-03    2.358822
2000-01-04    1.028055
2000-01-05   -0.713155
                ...
2002-09-22    0.524202
2002-09-23   -0.009137
2002-09-24    1.364076
2002-09-25   -0.303678
2002-09-26   -1.413652
Freq: D, Length: 1000, dtype: float64

In [5]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01   -0.827437
2001-01-02   -0.691065
2001-01-03   -0.262401
2001-01-04    0.825647
2001-01-05    0.880186
                ...
2001-12-27   -1.124248
2001-12-28    1.096122
2001-12-29   -1.720882
2001-12-30   -0.616988
2001-12-31    0.612203
Freq: D, Length: 365, dtype: float64

In [6]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    1.135190
2001-05-02   -0.511993
2001-05-03    0.565630
2001-05-04   -0.560573
2001-05-05    0.658588
2001-05-06    0.992084
2001-05-07   -0.826690
2001-05-08    0.796698
2001-05-09   -0.593796
2001-05-10   -0.520301
2001-05-11   -0.224636
2001-05-12   -0.498318
2001-05-13    1.007135
2001-05-14   -0.603310
2001-05-15    0.003932
2001-05-16    0.822602
2001-05-17    1.388406
2001-05-18    0.005722
2001-05-19   -0.925574
2001-05-20   -0.778885
2001-05-21    0.508457
2001-05-22    0.102883
2001-05-23   -0.586130
2001-05-24   -0.191810
2001-05-25    0.314871
2001-05-26    0.309907
2001-05-27    0.401358
2001-05-28    0.086645
2001-05-29   -0.664365
2001-05-30    1.273712
2001-05-31    0.345806
Freq: D, dtype: float64

In [7]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01    0.201575
2000-01-02   -0.371799
2000-01-03    2.358822
2000-01-04    1.028055
2000-01-05   -0.713155
Freq: D, dtype: float64

In [8]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01    0.300718
2000-02-02   -1.939756
2000-02-03    0.605723
2000-02-04    0.920292
2000-02-05   -0.893352
2000-02-06    0.651425
2000-02-07   -0.718364
2000-02-08   -1.770491
2000-02-09    0.671893
2000-02-10   -0.324575
2000-02-11   -0.540025
2000-02-12   -1.284475
2000-02-13   -0.347877
2000-02-14   -2.144314
2000-02-15   -1.208635
Freq: D, dtype: float64

In [9]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.133930
2000-09-27   -1.091311
2000-09-28   -0.182806
2000-09-29   -1.328352
2000-09-30    0.582791
                ...
2002-09-22    0.524202
2002-09-23   -0.009137
2002-09-24    1.364076
2002-09-25   -0.303678
2002-09-26   -1.413652
Freq: D, Length: 731, dtype: float64

In [10]:
print("\nDate range from 26-9-2001 to 25-9- 2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9- 2002:
 2001-09-26    1.372483
2001-09-27    0.670359
2001-09-28   -0.098406
2001-09-29   -1.132746
2001-09-30   -1.313827
                ...
2002-09-21   -1.304620
2002-09-22    0.524202
2002-09-23   -0.009137
2002-09-24    1.364076
2002-09-25   -0.303678
Freq: D, Length: 365, dtype: float64